:root{
  --purple: #5E50A1;
}

html,
body {
  font-family: Open sans, Fira Sans, Droid Sans, sans-serif;
}

button {
  box-sizing: border-box;
  border: 0px;
  transition-duration: 0.2s;
}

.bg-purple {
  background-color: var(--purple);
}

.text-purple {
  color: var(--purple);
}

.fs-7{
  font-size: 0.9rem !important;
}